run = "npm run start"
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 43379486
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node myApp.js"
